* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

body {
    background-color: greenyellow;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    
 align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    
    font-size: 8vmin;
    color: red;
    box-shadow: 0 0 1rem black;
   

}

#reset-game-btn {
    padding: 5px;
    border: none;
    padding: 10px;
}

#reset-game-btn:hover {
 color: white;
  background-color: rgb(199, 98, 98);  
 border-radius: 5px;
}

#new-game {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
   
    
}
#new-game:hover {
    box-shadow: 0 0 2rem orange;
    color: white;
    background-color: rgb(100, 219, 201);
}
#msg {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
    display: none;
}